[submodule "frontend"]
	path = frontend
	url = https://github.com/annaodziemczyk/microservices-frontend
[submodule "catalogue"]
	path = catalogue
	url = https://github.com/annaodziemczyk/microservices-catalogue
[submodule "cart"]
	path = cart
	url = https://github.com/annaodziemczyk/microservices-cart
[submodule "users"]
	path = users
	url = https://github.com/annaodziemczyk/microservices-users
